body {
    align-content: center
}

h1 {
    text-align: center;
    font-size: 32px
}

p {
    text-align: center;
    font-size: 24px;
    font-weight: bold
}

#gameTable, td{
    text-align: center;
    vertical-align: middle;
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255)
}

.redFont {
    color: red
}

.occupiedCell {
    background-color: rgb(191, 191, 191);
    font-size: 24px;
    font-weight: bold
}

#gameTable {
    border: white
}

.row1>td {
    border-top: white
}

.row3>td {
    border-bottom: white
}

.col1 {
    border-left: white
}

.col3 {
    border-right: white
}