body {
    align-content: left;
    text-align: left;
    background-color: burlywood;
}

h1 {
    color: darkolivegreen;
    width: 88%;
    display: inline-block;
    margin-bottom: 10px;
}

h2 {
    color: gray;
    margin-top: 5px;
}

#loadingMessage {
    text-align: center;
}

#userButtons {
    margin: 10px 10px;
    width: 10%;
}

#userButtons > img {
    height: 2.5em;
    width: 2.5em;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.activeDiv {
    visibility: visible;
    display: block;
    text-align: center;
}

.inactiveDiv {
    visibility: hidden;
    display: none;
}

label {
    box-sizing: border-box;
    width: 110px;
    text-align: left;
    display:inline-block;
}

#agreeBox, #agreeText {
    box-sizing: border-box;
    display:inline-block;
}

.errorMsg{
    color: red;
    font-size: 20px;
}

.requiredField {
    color: red;
    font-size: 10px;
}

#listAdder > svg {
    height: 2.25em;
    width: 2.25em;
    box-sizing: border-box;
    display:inline-block;
}

#listAdder > h2 {
    transform: translateY(-30%);
    box-sizing: border-box;
    display:inline-block;
}